
.card-body > img {
    margin-bottom: 12px;
    max-width: 200px;
}

.card-footer {
    font-size: 160%;
    overflow: hidden;
}

.card-text {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
}

.card-text h4 {
    padding-top: 12px;
}

.download-link {
    cursor: pointer;
}

.download-link span {
    text-decoration: none;
}

.download-link span:hover {
    text-decoration: underline;
}

.spacing-right {
    margin-right: 6px;
}
