
i {
    cursor: pointer;
}

.badge {
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    font-size: 90%;
    margin-right: 4px;
}

.badge:hover {
    color: #ffc107;
}

.bigger {
    font-size: 120%;
}

.block {
    background-color: white;
    border-bottom: 1px solid #ddd;
    cursor: default;
    padding: 12px;
}

.block:hover {
    background-color: #eee;
}

.card-body {
    padding: 0;
}

.card-text {
    font-family: 'Roboto', sans-serif;
}

.card-text p {
    font-family: 'Questrial', sans-serif;
}

.left-gutter {
    margin-left: 15px;
}

.position-right {
    position: absolute;
    right: 15px;
}
