
<div>
    <canvas #lineChart>{{ chart }}</canvas>
</div>

<div class="card">
    <div class="card-header text-white bg-warning">Skills</div>
    <div class="card-body">
        <ul class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link text-warning" (click)="setList('technologies')">Technologies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" (click)="setList('services')">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" (click)="setList('project')">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" (click)="setList('industries')">Industries</a>
            </li>
        </ul>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col text-right" style="text-align: right">years</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list">
                    <td class="text-warning"><h5 (click)="selectSkill(item.name)">{{ item.name }}</h5></td>
                    <td class="text-right">{{ item.years }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
