
h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 3.5rem;
    padding-left: 8px;
}

h2 small {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    margin-left: 12px;
}

.card-footer {
    font-family: 'Questrial', sans-serif;
    padding: 8px;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.col:first-of-type {
    padding-left: 0;
}

.col:last-of-type {
    padding-right: 0;
}

.container-fluid {
    margin-bottom: 15px;
    margin-right: 0;
    padding-right: 0;
}

.no-padding {
    margin: 0;
    padding: 0;
}

.row {
    margin-right: 0;
    padding-right: 0;
}
