
<div class="container-fluid d-none d-md-block">
    <div class="row">
        <div class="col-md-3">
            <app-profile (wordDownload)="downloadWord()"></app-profile>
            <div style="margin-top: 15px">
                <app-education></app-education>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <app-stats class="col" [data]="stats"></app-stats>
            </div>
            <div class="row">
                <app-skills class="col" [category]="category" [data]="skills" [filterEnable]="filterEnable" (clear)="clearFilter()" (select)="filter($event)"></app-skills>
                <app-work-experience class="col"></app-work-experience>
            </div>
        </div>
    </div>
</div>

<div class="container d-md-none no-padding">
    <div class="col no-padding gutter"><app-profile (wordDownload)="downloadWord()"></app-profile></div>
    <div class="col no-padding gutter"><app-stats [data]="stats"></app-stats></div>
    <div class="col no-padding gutter"><app-skills class="col" [category]="category" [data]="skills" [filterEnable]="filterEnable" (clear)="clearFilter()" (select)="filter($event)"></app-skills></div>
    <div class="col no-padding gutter"><app-work-experience class="col"></app-work-experience></div>
    <div class="col no-padding gutter"><app-education></app-education></div>
    <br><br><br><br><br>
</div>

<app-modal [visible]="showWordRenderModal" (valid)="export($event)" (visibleChanges)="close($event)" heading="Select your export options">
    <table class="table table-hover text-primary">
        <tr class="show-pointer" (click)="wordRenderOptions.hasIntroduction = !wordRenderOptions.hasIntroduction">
            <td class="modal-check">
                <i class="fa fa-square-o" *ngIf="!wordRenderOptions.hasIntroduction"></i>
                <i class="fa fa-check-square-o" *ngIf="wordRenderOptions.hasIntroduction"></i>
            </td>
            <td>Introduction</td>
        </tr>
        <tr class="show-pointer" (click)="wordRenderOptions.hasEducation = !wordRenderOptions.hasEducation">
            <td class="modal-check">
                <i class="fa fa-square-o" *ngIf="!wordRenderOptions.hasEducation"></i>
                <i class="fa fa-check-square-o" *ngIf="wordRenderOptions.hasEducation"></i>
            </td>
            <td>Education</td>
        </tr>
        <tr class="show-pointer" (click)="wordRenderOptions.hasExperience = !wordRenderOptions.hasExperience">
            <td class="modal-check">
                <i class="fa fa-square-o" *ngIf="!wordRenderOptions.hasExperience"></i>
                <i class="fa fa-check-square-o" *ngIf="wordRenderOptions.hasExperience"></i>
            </td>
            <td>Experience</td>
        </tr>
        <tr class="show-pointer" (click)="wordRenderOptions.hasSkills = !wordRenderOptions.hasSkills">
            <td class="modal-check">
                <i class="fa fa-square-o" *ngIf="!wordRenderOptions.hasSkills"></i>
                <i class="fa fa-check-square-o" *ngIf="wordRenderOptions.hasSkills"></i>
            </td>
            <td>Skills</td>
        </tr>
        <tr class="show-pointer" (click)="wordRenderOptions.hasSummary = !wordRenderOptions.hasSummary">
            <td class="modal-check">
                <i class="fa fa-square-o" *ngIf="!wordRenderOptions.hasSummary"></i>
                <i class="fa fa-check-square-o" *ngIf="wordRenderOptions.hasSummary"></i>
            </td>
            <td>Summary</td>
        </tr>
    </table>
</app-modal>