
<div class="container-fluid d-none d-md-block">
    <div class="row">
        <div class="col-md-3">
            <app-profile [data]="profile"></app-profile>
            <div style="margin-top: 15px">
                <app-education [data]="education"></app-education>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <app-stats class="col" [data]="stats"></app-stats>
            </div>
            <div class="row">
                <app-skills class="col" [data]="skills" (select)="filter($event)"></app-skills>
                <app-work-experience class="col" [data]="careers" (filterData)="filter($event)"></app-work-experience>
            </div>
        </div>
    </div>
</div>

<div class="container d-md-none no-padding">
    <div class="col no-padding gutter"><app-profile [data]="profile"></app-profile></div>
    <div class="col no-padding gutter"><app-stats [data]="stats"></app-stats></div>
    <div class="col no-padding gutter"><app-skills [data]="skills"></app-skills></div>
    <div class="col no-padding gutter"><app-work-experience [data]="careers" (filterData)="filter($event)"></app-work-experience></div>
    <div class="col no-padding gutter"><app-education [data]="education"></app-education></div>
    <br><br><br><br><br>
</div>
