/* You can add global styles to this file, and also import other style files */
$info-color: #17a2b8;
$secondary-color: #6c757d;
$success-color: #28a745;
$warning-color: #ffc107;

.bg-info-dark {
    background-color: darken($info-color, 10%);
}

.bg-secondary-dark {
    background-color: darken($secondary-color, 10%);
}

.bg-success-dark {
    background-color: darken($success-color, 10%);
}

.bg-warning-dark {
    background-color: darken($warning-color, 10%);
}

.card-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
